{% extends 'header.html' %}
{% block body_block %}
{% if author.user == user %}
    <h1>Here is the list of Post published by you</h1>
{% else %}
    <h1>Here is the list of Post published by {{author.user.username}}</h1>
{% endif %}

<ol>
    {% for post in posts %}
    <li>
        <h3><a href="{% url 'socialMedia:complete_post' id=post.id %}">{{post.title}}</a></h3>
        <h4>{{post.body}}</h4>
        <h6>Published On => {{post.publish}}</h6>
    </li>
    {% if author.user == user %}
    <a href="{% url 'socialMedia:change_to_draft' id=post.id %}">Change it as draft</a>
    <a href="{% url 'socialMedia:update' id=post.id %}">Update</a>
    <a href="{% url 'socialMedia:delete' id=post.id %}">Delete</a>
    {% endif %}
    
    {% endfor %}
</ol>
{% endblock %}